@model WebApplication4MVC.Models.User_Profile
@{
    ViewBag.Title = "PasswordRecovery";
     Layout = "~/Views/Shared/_LayoutP.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="back-link back-backend">
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to Dashboard</a>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("PasswordRecovery", "User_Profile", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
            <div class="col-md-6 col-md-6 col-sm-6 col-xs-12">
                <div class="text-center ps-recovered">
                    <h3>PASSWORD RECOVERY</h3>
                    <p>
                        Your password will be sent to your Registered Mobile Number And Email.
                    </p>
                </div>
                <div class="hpanel">
                    <div class="panel-body ">
                        <form action="POST" id="loginForm">
                            <div class="form-group">
                                <label>Mobile Number</label>
                                @Html.TextBoxFor(Model => Model.PhoneNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })                            
                                <span class="help-block small">Your registered mobile number</span>
                            </div>
                            <div class="form-group">
                                <label>Registered Email Address</label>
                                @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", placeholder = "example@gmail.com" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })                              
                               <span class="help-block small">Your registered email address</span>
                            </div>

                            <button type="submit" class="btn btn-danger btn-block">Reset password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
    </div>
}
   <div class="row">
       <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 text-center login-footer">
           <p>Copyright &copy; 2018 <a href="">Deepak</a> All rights reserved.</p>
       </div>
   </div>
 
