


@*<h2>SubCatDetail</h2>*@

@model IEnumerable<WebApplication4MVC.Models.Product_sub_cat>
@{
    ViewBag.Title = "SubCatDetail";
    Layout = "~/Views/Shared/_LayoutP.cshtml";
}

<style>
    img {
        width: auto; /* set to anything and aspect ratio is maintained - also corrects glitch in Internet Explorer */
        height: auto; /* set to anything and aspect ratio is maintained */
        max-width: 180px;
        max-height: 150px;
        min-height: 30px;
        min-width: 180px;
        border: 0; /* for older IE browsers that draw borders around images */
    }
</style>


@using (Html.BeginForm("Products", "Product_Img", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="form-horizontal">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="single-new-trend mg-t-30" style="height:250px; width:220px;">
                        <span class="btn-small">@item.Name</span>
                        <a title="View Details" href="@Url.Action("Products", "Product_Img", new { Subid = item.Id })" style="height:150px;width:150px">
                            <img id="primg" src="@Url.Content(item.SubImg)" alt="" style="height:220px; width:200px;" />
                        </a>
                        @*<div class="overlay-content">
                            </div>*@
                        @Html.ActionLink("View", "Details", new { id = item.Id })
                        <a href="#">
                            <h4> @item.Description</h4>
                        </a>
                    </div>
                </div>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @onclick = "return confirm('Do you really want to delete ?')" })
            }

            @Html.ActionLink("CreateSubCategory", "Create")

        </div>
    </div>
}
